.cart {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  height: 6rem;
  width: 6rem;
  &__img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 6rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      scale: 1.1;
      transform: translateY(calc(-50% + 0.3rem));
    }
  }
  &__quantity {
    position: absolute;
    top: 60%;
    left: 80%;
    font-size: 3rem;
    width: 2rem;
    color: white;
    text-align: center;
  }
}
