.cart {
  width: 6rem;
  line-height: 12rem;
  margin-left: auto;
  text-align: center;
  &__img {
    display: inline-block;
    height: 4rem;
    cursor: pointer;
    margin-top: calc(6rem - 2rem);
  }
}
