.filter-list-element--enabled {
  color: white;
  background-color: $color-light-blue;
}

.filter-list-element {
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.6rem 1.4rem;
  margin: 0.8rem;
  border: 1px solid $color-light-blue;
  flex-basis: 0;
  flex-grow: 1;
  &:hover {
    @extend .filter-list-element--enabled;
  }
  &--enabled {
    @extend .filter-list-element--enabled;
  }
  &__text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
}
