.layout {
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 12rem;
  padding: 0 20%;
  background-color: black;
  &__h1 {
    line-height: 12rem;
    font-size: 3rem;
    color: $color-light-blue;
    font-style: italic;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 720px) {
  .navbar {
    padding: 0 4%;
  }
}

@media screen and (max-width: 375px) {
  .navbar__h1 {
    display: none;
  }
}
