.service-list-element {
  position: relative;
  margin-bottom: 10rem;
  transition: all 0.2s;
  &:hover {
    scale: 1.05;
  }
  &__description {
    display: flex;
    color: white;
    background-color: black;
    height: 20vh;
    cursor: pointer;
    min-height: 20rem;
    font-size: 2rem;
  }
  &__information {
    position: relative;
    width: 70%;
  }
  &__pricing {
    position: relative;
    width: 30%;
  }
  &__service-static-name {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 3rem;
    text-transform: uppercase;
  }
  &__service-name {
    position: absolute;
    top: 50%;
    left: 20%;
    text-transform: uppercase;
  }
  &__service-static-price {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 20%;
    font-size: 3rem;
    text-transform: uppercase;
  }
  &__service-price {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    right: 5%;
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__footer {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 1rem 2rem 0 0;
    width: 100%;
    text-align: right;
  }
  &__servies {
  }
}
