.service-list-element {
  position: relative;
  margin-bottom: 10rem;
  transition: all 0.2s;
  &:hover {
    scale: 1.05;
  }
  &__description {
    display: flex;
    color: white;
    background-color: black;
    height: 20vh;
    cursor: pointer;
    min-height: 20rem;
    font-size: 2rem;
  }
  &__information {
    position: relative;
    margin-right: 1rem;
    width: 70%;
  }
  &__pricing {
    position: relative;
    width: 30%;
  }
  &__service-static-name {
    position: relative;
    height: 50%;
    margin-left: 8rem;
    font-size: 3rem;
    text-transform: uppercase;
    & > span {
      position: absolute;
      bottom: 10%;
    }
  }
  &__service-name {
    height: 50%;
    margin-left: 10rem;
    word-wrap: break-word;
    text-transform: uppercase;
  }
  &__service-static-price {
    position: relative;
    font-size: 3rem;
    height: 60%;
    text-transform: uppercase;
    & > span {
      position: absolute;
      bottom: 10%;
    }
  }
  &__service-price {
    font-size: 2rem;
    margin-left: 30%;
    text-transform: uppercase;
  }
  &__footer {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 1rem 2rem 0 0;
    width: 100%;
    text-align: right;
  }
  &__servies {
  }
}
