.service-year-filter-container {
  display: flex;
  margin-top: 5vh;
  font-size: 1.6rem;
  &__element {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid transparent;
    padding-bottom: 4px;
    &:not(:first-child) {
      margin-left: 4vw;
    }
    &:hover {
      color: $color-light-pink;
    }
    &--active {
      color: $color-light-pink;
      border-bottom: 2px solid $color-light-pink;
    }
  }
}
